 
.title-calendar{
    font-size: 25px;
    font-weight: bold;
}
.card-calendar p:first-child{
    font-size: 18px;
}
.card-calendar .ant-timeline{
    height: 365px;
     
}
.card-calendar button{
    border-radius: 50px;   
}